<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="auth" value="https://api.dkc.ru/v1/auth.access.token"/>
		<add key="material" value="https://api.dkc.ru/v1/catalog/material"/>
		<add key="codes" value="SELECT devices.[Code] AS device_code,
                params = STUFF((
                        SELECT ',' + CAST(p2.deviceParameterName as varchar(max))
                        FROM [dbo].[tblDeviceValues] v2
                        INNER JOIN [dbo].[tblDeviceParameters] p2 
                            ON v2.deviceValueParameter = p2.deviceParameterId
                        WHERE v2.deviceValueDevice = devices.deviceId
                        FOR XML PATH(''), TYPE
                    ).value('.', 'NVARCHAR(MAX)'), 1, 1, '')
                FROM [dbo].[tblDevices] devices
                where devices.[Code] != '0' and devices.[Code] != ''
        "/>
		<add key="parameters" value="SELECT [deviceParameterName] FROM [dbo].[tblDeviceParameters] WHERE CAST(deviceParameterName as varchar(max)) != ''"/>
	</appSettings>
</configuration>