<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="auth" value="https://api.dkc.ru/v1/auth.access.token"/>
		<add key="material" value="https://api.dkc.ru/v1/catalog/material"/>
		<add key="codes" value="SELECT TOP 1000 [Code] FROM [dbo].[tblDevices]"/>
		<add key="parameters" value="SELECT [deviceParameterName] FROM [dbo].[tblDeviceParameters]"/>
	</appSettings>
</configuration>